sudo: required
dist: trusty
language: generic
before_install:
# update the system
- sudo apt-get -qq update
# install the Inconsolata font
- sudo apt-get -qq install fonts-inconsolata
# install the Linux Libertine and Linux Biolinum fonts
- sudo apt-get -qq install fonts-linuxlibertine
# install the Libertinus font
- git clone https://github.com/libertinus-fonts/libertinus
- cd libertinus
- sudo mkdir -p /usr/share/fonts/opentype
- sudo cp *.otf /usr/share/fonts/opentype
- fc-cache
- cd ..
# install the newest version of texlive
- git clone https://github.com/cryptofuture/install-tl-ubuntu.git
- cd install-tl-ubuntu
- sudo ./install-tl-ubuntu
- eval "$(sed 's/^/export /' /etc/environment)"
- cd ..
script:
- wget "https://raw.githubusercontent.com/Hightor/gitinfo2/CTAN/post-xxx-sample.txt" -O generate_gitinfo2
- chmod +x generate_gitinfo2
- ./generate_gitinfo2
- mkdir github-pages
- chmod +x make
- ./make
- mv notes.pdf github-pages/algebra2.pdf

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN	# defined in travis dashboard
  target_branch: gh-pages
  local_dir: github-pages
  on:
    branch: master

notifications:
  email: false
